apiVersion: v1
kind: Service
metadata:
  name: nginx-proxy
  namespace: keycloak-proxy
spec:
  type: NodePort
  selector:
    app: nginx-proxy
  ports:
  - port: 443
    targetPort: 443
    protocol: TCP
    name: https
    nodePort: 30443
  - port: 80
    targetPort: 80
    protocol: TCP
    name: http
    nodePort: 30080

